.productsale {
  display: flex;
  margin: 3px 5px;
}

.productsale__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid rgba(0, 0, 0, 0.712); */
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.363);
  border-radius: 14px;
  padding-bottom: 6px;
}

.productsale__container img {
  height: 60vh;
}
