.productcart {
  display: flex;
  flex-wrap: wrap;
}

.productcart__details {
  display: flex;
  flex-direction: column;
  margin-left: 14px;
}

.productcart__details strong {
  font-size: 14.5px;
}

.productcart__buttons {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
}

.productcart__avatar img {
  height: 120px;
}

.productcart__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.productcart__buttons button {
  margin-top: 4px;
}

.productcart__quantify input {
  width: 18px;
  text-align: center;
  margin: 0px 5px;
}

.productcart__details div {
  margin-top: 18px;
  display: flex;
  flex-direction: column;
}

.productcart__details div span {
  font-size: 14px;
}

.productcart__details div :last-child {

  color: rgb(95, 95, 95);
}

@media screen and (max-width: 768px) {

  .productcart__buttons {
    width: 100%;
    flex-direction: initial;
    justify-content: space-evenly;
  }
}
