.header {
  display: flex;
  justify-content: space-around;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.692);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 900;
  background: transparent;
}

.header__visible {
  background: #fff;
}

.header__logo {
  padding: 5px 20px;
}

.header a {
  text-decoration: none;
  color: black;
}

.header__logo h1 {
  font-size: 30px;
}

.header__icons {
  display: flex;
  align-items: center;
}

.header__icons button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.header__cart {
  margin-left: 14px;
  display: flex;
  align-items: center;
}

.header__cart--icon {
  font-size: 32px;
  color: rgb(102, 32, 134)
}

.header__search--icon {
  color: rgb(102, 32, 134);
  font-size: 32px;
  margin-right: 30px;
}

@media screen and (max-width: 768px) {

  .header__search--icon {
    margin-right: 0.5px;
  }
}

.header__cart--amount {
  background: red;
  margin-left: 2px;
  padding: 1px 5px;
  border-radius: 50%;
}

.header__cart--amount span {
  color: white;
  font-weight: bold;
}
