.cart {
  transition: margin-left 0.5s;
  background: #f9f9f9;
  position: fixed;
  height: 100vh;
  width: 35vw;
  top: 0;
  z-index: 901;
  left: 65vw;
  max-height: 100vh;
  overflow-y: scroll;
}

@media screen and (max-width: 768px) {

  .cart {
    left: 0vw;
    width: 100%;
  }
}

.cart__open {
  margin-right: 100px;
}

.cart__header {
  background: #fff;
  display: flex;
}

.cart__products {
  margin-top: 14px;
}

.cart__header button {
  background: #fff;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  margin-right: 8px;
  font-size: 17px;
  width: 10%;

}

.cart__header span {
  text-align: center;
  width: 90%;
}

.cart__icon--x {
  font-size: 30px;
  color: rgb(248, 0, 0)
}

.cart__products--submit {
  display: flex;
  justify-content: center;
  margin-top: 14px;
}

.cart__products--submit button {
  color: rgb(243, 243, 243) !important;
  background: rgb(6, 175, 6);
  color: inherit;
  border: 0.5px solid rgba(0, 0, 0, 0.466);
  padding: 10px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  border-radius: 6px;
  text-transform: uppercase;
  font-weight: bold;
}
